.body{
    
    margin: 0px ;
    padding:0px;
   background: white;
   font-family: Arial;
   
  }
   .bob{
    display: flex;
    justify-content: space-between; /* Align links to the right */
    align-items: center;
    padding: 0px;
   background-color: black;
   color: white;
   gap: 5px;
   letter-spacing: 1px; 
}
    .h1{
      text-align: left;
    }
    .nav{
     
      display: flex;
    }
    
  
  .img{
border-radius: 60%;
}
.soon {
display: flex;
justify-content:none;
align-items: left;
line-height: 25px;


}
nav a {
       
        text-decoration: none;
        font-size: 1.2em;
        cursor: pointer;
        transition: color 0.3s ease; /* Smooth hover effect */
        color: white;
        
        
    }

    nav a:hover {
        
        color: blue;
        cursor: pointer;
        text-decoration: underline;

    }

    .content {
        margin: 20px;
        padding: 20px;
        background-color: white;
        display: none;
    }

    .content.active {
        display: block;
    }    .card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: scale(1.02);
      transition: all 0.4s ease;
      
    }
    .h5{
      color: #0d6efd;
    }
